.adjust {
	height: 40px;
	width: 40px;
	border: 1px solid #959595;
	background-color: #45d18a;
	color: black;
	font-weight: bold;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	text-align: none;
	text-decoration: none;
	display: inline-block;
	
	font-size: 12px;
}

div.p {
	margin-left: 10px;
	font-family: 'Lato', sans-serif;
	color: black;
	font-size: 15pt;
	text-align: center;
	/*float: left;*/

}

.values {
	margin-left: 9px;
	
}

