.adjust {
	height: 40px;
	width: 40px;
	border: 1px solid #959595;
	background-color: #45d18a;
	color: black;
	font-weight: bold;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	text-align: none;
	text-decoration: none;
	display: inline-block;
	
	font-size: 12px;
}

div.p {
	font-family: 'Lato', sans-serif;
	color: black;
	font-size: 15pt;
	text-align: center;
	border-bottom-color: #000000;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-top: -68px;
	padding-bottom: 8px;
	padding-top: 36px;
}
button{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size:40px;
	box-shadow: 0px 1px 2px;
	}

.values {
	margin-left: 6px;
	margin-right: auto;
}
