/*#myList li{
  display: none;
}*/
#loadMore {
	position: relative;
	top: 5px;
	left: 100px;
    color: #45d18a;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
	position: relative;
	top: 5px;
	left: 100px;
	color: #4d394b;
   /*color:purple; this color shows up alot better, may be distracting*/
    cursor:pointer;
}
#showLess:hover {
    color:black;
}
