body {
	font-family: 'Lato', sans-serif;
    background-color: lightgrey;
	background-image: url(phoneWire.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 105px;
	width:280px;

}

h1 {
    color: blue;
}

p {
    color:green;
}

#header{
	width: 100%;
	height: 70px;
	text-align: left;
	background: #2a80b9;
	/*
	purple 	#4d394b
	blue     #2a80b9
	green   #45d18a
	*/
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 28px;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;

}


table {
	width: 96%;
	font-weight: bold;
	box-shadow: 0px 1px 2px;
	-webkit-box-shadow: 0px 1px 2px;
}
table, th, td {
	border: 1px solid #959595;
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
	margin-top: 12px;
}
th, td {
	height:30px;
    padding: 5px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
}
table#t01 tr:nth-child(even) {
	background-color: #FFFFFF;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
	background-color: #4D394B;
	color: white;
}
button:hover{
	background: #9DEFC5;
	}
button{
	color: black;
	text-decoration:none;
	border: 1px solid #45d18a;
	margin-left: 13px;
	margin-right: auto;
	margin-top: 20px;
	background-color: #45d18a;
	color: black;
	font-weight: bold;
	padding-top: 7px;
	padding-right: 67px;
	padding-left: 67px;
	padding-bottom: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 8px;
	box-shadow: 0px 4px 8px;
	-webkit-box-shadow: 0px 4px 8px;
}


headertitle{
	position: absolute;
	padding-top: 17px;
	/* [disabled]margin-top: 15px; */

	}

